<table class="table table-striped">
  <thead>
    <tr>
      <th class="table-id"><%= human_name Employee, :id %></th>
      <th><%= human_name Employee, :name %></th>
      <% if show_department %>
        <th><%= human_name Employee, :department_id %></th>
      <% end %>
      <th><%= human_name Employee, :user %></th>
      <th class="table-actions"></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for :tr, employees do |employee| %>
      <td class="table-id"><%= employee.id %></td>
      <td><%= employee.name %></td>
      <% if show_department %>
        <td><%= link_to employee.department.name, employee.department %></td>
      <% end %>
      <td><%= mail_to employee.user.try :email %></td>
      <td class="table-actions">
        <%= link_to icon_tag('asterisk'), employee, title: 'Ver' %>
        <% unless current_user.leader? %>
          <%= link_to icon_tag('pencil'), edit_employee_path(employee), title: 'Editar' %>
          <%= link_to icon_tag('trash'), employee, title: 'Remover', method: :delete, data: { confirm: 'Tem certeza?' } %>
        <% end %>
      </td>
    <% end %>
  </tbody>
</table>
