<% content_for :title, 'Departamentos' -%>
<% content_for :actions do -%>
  <%= link_to icon_tag('plus-sign') << ' Novo Departamento', new_department_path, class: 'btn btn-default pull-right' %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="table-id"><%= human_name Department, :id %></th>
      <th><%= human_name Department, :name %></th>
      <th class="table-actions"></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for :tr, @departments do |department| %>
      <td class="table-id"><%= department.id %></td>
      <td><%= department.name %></td>
      <td class="table-actions">
        <%= link_to icon_tag('asterisk'), department, title: 'Ver' %>
        <%= link_to icon_tag('pencil'), edit_department_path(department), title: 'Editar' %>
        <%= link_to icon_tag('trash'), department, title: 'Remover', method: :delete, data: { confirm: 'Tem certeza?' } %>
      </td>
    <% end %>
  </tbody>
</table>
