<% content_for :title, app_title -%>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
  </div>

  <%= f.button icon_tag('log-in') << ' Acessar', class: 'btn btn-primary btn-lg btn-block' %>
<% end %>
