<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Alternar navegação</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to app_title, root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if current_user.admin? || current_user.hr? %>
          <%= nav_item 'Importar Registros', controller: 'record_imports', action: :new %>
          <%= nav_item 'Pagar Horas', controller: 'overtime_bank_payments' %>
        <% end %>
        <%= nav_item 'Departamentos', controller: 'departments' %>
        <%= nav_item 'Funcionários', controller: 'employees' %>
        <% if current_user.admin? || current_user.hr? %>
          <%= nav_item 'Feriados', controller: 'holidays' %>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text"><%= icon_tag 'user' %> <%= current_user.email %></li>
        <li><%= icon_link_to 'log-out', 'Sair', destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>
</div>
