<!DOCTYPE html>
<html>
  <head>
    <title><%= [yield(:title).presence, app_title].compact.join(' - ') %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5shiv', 'respond.min' %>
    <![endif]-->
  </head>
  <body class="<%= controller_name %>">
    <%= render 'layouts/navigation' if user_signed_in? %>

    <div class="container">
      <div class="page-header">
        <% if content_for?(:actions) %>
          <div class="pull-right"><%= yield :actions %></div>
        <% end %>
        <h1>
          <%= yield :title %>
          <% if content_for?(:subtitle) %>
            <%= content_tag :small, yield(:subtitle) %>
          <% end %>
        </h1>
      </div>

      <%= flash_tag notice, 'ok-circle', 'success' if notice %>
      <%= flash_tag alert, 'warning-sign', 'warning' if alert %>
      <%= flash_tag error, 'remove-circle', 'danger' if error %>

      <%= yield %>

      <hr>
      <footer>
        <p>&copy; <%= app_title %> <%= Date.current.year %></p>
      </footer>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
